body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.full {
  background-color: #f7931e;
}

.empty {
  background-color: transparent;
  color: #f7931e;
  border: 1px solid #f7931e;
}

body header {
  padding-top: 2em;
}

body header .logo-container {
  color: #fff;
  margin: 0 auto;
  padding-left: 3em;
}

body header .logo-container svg {
  width: 7em;
  height: 10em;
  float: left;
}

body header .logo-container .logo_text {
  padding-top: 2em;
}

body header .logo-container .logo_text h2 {
  line-height: 1em;
  margin: 0;
  padding: 0;
  letter-spacing: -2px;
}

body header .logo-container .logo_text span {
  letter-spacing: -1px;
  font-size: .9em;
}

body header .tagline {
  color: #fff;
}

body header .tagline h3 {
  letter-spacing: -1px;
  font-size: 2.5em;
  line-height: 1.5em;
}

body header .top_mnu ul {
  font-weight: 600;
}

body header .top_mnu ul li a {
  color: #000;
}

body header .top_mnu ul li a:hover {
  background-color: #fff;
}

body header .top_mnu ul li.dropdown a.dropdown-toggle span {
  padding-left: 1.3em;
}

body header .top_mnu ul li.dropdown ul.dropdown-menu {
  border: none;
  min-width: 1px;
  width: 100%;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-align: center;
}

body header .top_mnu ul li.dropdown ul.dropdown-menu li a {
  line-height: 2.5em;
  font-weight: 600;
}

body header .top_mnu ul li.dropdown ul.dropdown-menu li a:hover {
  color: #f7931e;
}

body header .top_mnu ul li.active a:focus {
  background-color: #FFF;
}

body section.s_slider {
  min-height: 500px;
  position: relative;
  overflow: hidden;
  padding-top: 12em;
}

body section.s_slider img {
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -100;
}

body section.s_slider .logo-container {
  color: #fff;
  margin: 0 auto;
  padding-left: 6em;
}

body section.s_slider .logo-container svg {
  width: 10em;
  height: 13em;
  float: left;
}

body section.s_slider .logo-container .logo_text {
  padding-top: 3.5em;
}

body section.s_slider .logo-container .logo_text h2 {
  line-height: 1em;
  margin: 0;
  padding: 0;
  font-size: 4em;
  letter-spacing: -4px;
}

body section.s_slider .logo-container .logo_text span {
  letter-spacing: -1px;
  font-size: 1.55em;
}

body section.s_content {
  margin-top: 3em;
}

body section.s_content .left_col h1 {
  color: #666;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: -4px;
  margin-bottom: 1em;
}

body section.s_content .left_col img {
  width: 100%;
  margin-bottom: 4em;
}

body section.s_content .right_col blockquote {
  background-color: #f2f2f2;
  border: none;
  padding: 1.2em 3em;
}

body section.s_content .right_col blockquote::before {
  content: "\"";
  color: #fff;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 5em;
  font-style: italic;
  line-height: 1;
}

body section.s_content .right_col blockquote::after {
  content: "\"";
  color: #fff;
  position: absolute;
  top: 70px;
  right: 40px;
  font-size: 5em;
  font-style: italic;
  line-height: 1;
}

body section.s_content .right_col h3 {
  font-size: 3em;
  line-height: 1em;
  color: #666;
  letter-spacing: -4px;
  margin-bottom: 1em;
}

body section.s_content .right_col ul li {
  margin-bottom: 1em;
  font-size: .9em;
}

body section.s_content .listing {
  margin-top: 2em;
}

body section.s_content .listing ul {
  padding-left: 2.5em;
}

body section.s_content .listing ul li {
  list-style-type: disc;
  color: #f7931e;
}

body section.s_content .listing ul li span {
  color: #000;
  font-size: .7em;
  line-height: 1em;
}

body section.s_content .listing ol li {
  font-size: .7em;
}

body section.s_content .listing ol li span {
  line-height: 2em;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

/* Medium Devices, Desktops */

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */

/* Small Devices, Tablets */

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  /* Large Devices, Wide Screens */
}