doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		title PersonalSite
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i&amp;subset=cyrillic" rel="stylesheet")
		//build:css css/vendor.min.css
		//bower:css
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
		//endbower
		//endbuild
		// build:css css/main.min.css
		link(rel="stylesheet" href="css/main.css")
		
		// endbuild
	body
		header.full
			.container-fluid
				.row
					.logo-container.col-md-4
						svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
							defs
							title logo_rocket
							path(style='fill:#fff' d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
							path(style='fill:#fff' d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')
						.logo_text
							h2 PersonalSite
							span лицо успешной компании
					.tagline.col-md-offset-4
						h3 Собственный сайт: лицо успешной компании
			.container
				.row
					.col-md-8.col-md-offset-4
						.top_mnu
							ul.nav.navbar-nav.text-uppercase
								li.active
									a(href="#") Главная
								li.dropdown
									a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
										| О компании 
										span.glyphicon.glyphicon-menu-down
									ul.dropdown-menu
										li
											a(href="#") Компания
										li
											a(href="#") Новости
										li
											a(href="#") Статьи
								li
									a(href="#") Услуги
								li
									a(href="#") Портфолио
								li
									a(href="#") Контакты
		section.s_slider
			img(src="img/rocket-004.jpg", alt="rocket-004.jpg")
			.container
				.row
					.logo-container
						svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
							defs
							title logo_rocket
							path(style='fill:#fff' d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
							path(style='fill:#fff' d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')
						.logo_text
							h1 PersonalSite
							span лицо успешной компании

		section.s_content
			.container
				.row.first_row
					.col-md-6.left_col
						h1 PersonalSite
						img(src="img/rocket-004.jpg", alt="")
						
					.col-md-6.right_col
						blockquote
							p Ничто так не раскрывает недостатки проектирования как реализация
							p // J. Horton
						h2 Собственный сайт: лицо успешной компании
						ul
							li Думаете, что ваши методы отлично подходят на каждый рабочий день?
							li Считаете, что продаёте лучше всех в отделе?
							li И вам правда этого достаточно?
							li Узнайте, как стать лучшим в профессии, а не только в своей компании! Вашему вниманию – видеоуроки о правилах продаж, красивых методиках и удачных схемах от успешного менеджера компании «1С-Битрикс».
							li 
								br
							li Этот курс – и для продвинутых, и для начинающих менеджеров. Даже если вы ещё ничего в жизни не продали, посмотрите и научитесь чужому опыту без собственных ошибок!
				.row.second_row
					.col-md-6
						ul
							li 
								span Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
							li 
								span Можно ли успешно продавать свои услуги без сайта компании? 
							li 
								span Что важно знать, чтобы не допустить ошибок при создании и поддержке сайта? 
					.col-md-6
						ol
							li 
								span Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
							li 
								span Можно ли успешно продавать свои услуги без сайта компании? 
							li 
								span Что важно знать, чтобы не допустить ошибок при создании и поддержке сайта? 
				.row.third_row
					.col-md-7.third_row_content
						h4 Собственный сайт: лицо успешной компании
						ul.list-unstyled
							li Думаете, что ваши методы отлично подходят на каждый рабочий день?
							li Считаете, что продаёте лучше всех в отделе?
							li И вам правда этого достаточно?
							li 
								|Узнайте, как стать лучшим в профессии, а не только в своей компании! Вашему вниманию – видеоуроки о правилах продаж, красивых методиках и удачных схемах от успешного менеджера компании 
								span.colored_element «1С-Битрикс»
								|.
					.col-md-5.third_row_form
						form(action="")
							label
								h4 Обратная связь
							input(type="text" placeholder="Ваше имя").btn-block
							input(type="email" placeholder="e-mail").btn-block
							button.full Отправить
		section.s_banners
			.container
				.row
					.col-md-12
						.news_item_large
							.item_image
								img(src="img/rocket-004.jpg", alt="")
							.item_description
								.item_descr_head
									span.date 2017.11.12
									span Название раздела
								.item_descr_body
									h5 Собственный сайт: лицо успешной компании
									ul.list-unstyled
										li Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
										li Можно ли успешно продавать свои услуги без сайта компании? 
								.item_descr_footer
									button.full Подробнее
									ul.list-inline
										li Сайт
										li Компания
										li Услуги
										li Теги
				.row
					.col-md-6
						.news_item_half
							.item_image
								img(src="img/rocket-004.jpg", alt="")
							.item_description
								.item_descr_head
									span.date 2017.11.12
									span Название раздела
								.item_descr_body
									h5 Собственный сайт: лицо успешной компании
									p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
								.item_descr_footer
									ul.list-inline
										li Компания
										li Услуги
										li Теги
						button.full Показать еще
					.col-md-6
						.news_item_half_full_img
							.item_image
								img(src="img/rocket-004.jpg", alt="")
							.item_description
								.item_descr_head
									span.date 2017.11.12
									span Название раздела
								.item_descr_body
									h5 Собственный сайт: лицо успешной компании
								.item_descr_footer
									ul.list-inline
										li Сайт
										li Компания
										li Услуги
										li Теги
						button.empty Показать еще
				.row
					.col-md-6
						.news_item_half_small_colored
							.item_image
								img(src="img/rocket-004.jpg", alt="")
							.item_description.full
								.item_descr_body
									h5 Собственный сайт: лицо успешной компании
									p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
					.col-md-6
						.news_item_half_small
							.item_image
								img(src="img/rocket-004.jpg", alt="")
							.item_description.full
								.item_descr_head
									h5 Собственный сайт: лицо успешной компании
								.item_descr_body
									span.date 2017.11.12
									span Название раздела
									p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 		
								.item_descr_footer
									ul.list-inline
										li Сайт
										li Компания
										li Услуги
										li Теги
				.row
					.col-md-3
						.news_item_vertical_1
							.item_image
								img(src="img/rocket-004.jpg", alt="")
							.item_description
								.item_descr_head
									span.date 2017.11.12
									span Название раздела
								.item_descr_body
									h5 Собственный сайт: лицо успешной компании
									p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
								.item_descr_footer
									button.empty Подробнее
									ul.list-inline
										li Компания
										li Услуги
										li Теги
					.col-md-3
						.news_item_vertical_2
							.item_image
								img(src="img/rocket-004.jpg", alt="")
							.item_description
								.item_descr_head
									span.date 2017.11.12
									span Название раздела
								.item_descr_body
									h5 Собственный сайт: лицо успешной компании
									p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
								.item_descr_footer
									ul.list-inline
										li Компания
										li Услуги
										li Теги
					.col-md-3
						.news_item_vertical_3
							.item_image
								img(src="img/rocket-004.jpg", alt="")
							.item_description
								.item_descr_head
									span.date 2017.11.12
									span Название раздела
								.item_descr_body
									h5 Собственный сайт: лицо успешной компании
									
					.col-md-3
						.news_item_vertical_4
							.item_image
								img(src="img/rocket-004.jpg", alt="")
							.item_description
								.item_descr_body
									h5 Собственный сайт: лицо успешной компании
									p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
								
				.row
					button.full Пагинация

				.row
					.col-md-12
						.banner_item_large.full
							.item_image
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')

							.item_description
								h5 Собственный сайт: лицо успешной компании
								ul.list-unstyled
									li Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
									li Можно ли успешно продавать свои услуги без сайта компании?
								button.empty Подробнее
					.col-md-12
						.banner_item_large
							.item_image
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')

							.item_description
								h5 Собственный сайт: лицо успешной компании
								ul
									li Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
									li Можно ли успешно продавать свои услуги без сайта компании?
								button.full Подробнее
				.row
					.col-md-6
						.banner_item_half_colored.full
							.item_image
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')

							.item_description
								h5 Собственный сайт: лицо успешной компании
								p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть?
							button.full Показать еще

					.col-md-6
						.banner_item_half_grey
							.item_image.left
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')

							.item_description
								h5 Собственный сайт: лицо успешной компании
								p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 			
							button.empty Показать еще
				.row
					.col-md-6
						.banner_item_half_small_colored.full
							.item_image
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')

							.item_description
								h5 Собственный сайт: лицо успешной компании
					.col-md-6
						.banner_item_half_small_grey
							.item_image
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')

							.item_description
								h5 Собственный сайт: лицо успешной компании
								p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
				.row
					.col-md-3
						.banner_item_vertical_1.full
							.item_image
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')

							.item_description
								h5 Собственный сайт: лицо успешной компании
								p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
								button.empty Подробнее
					.col-md-3
						.banner_item_vertical_2
							.item_image
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')
							.item_description
								h5 Собственный сайт: лицо успешной компании
								p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
								button.full Подробнее
					.col-md-3
						.banner_item_vertical_3
							.item_image
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')

							.item_description
								h5 Собственный сайт: лицо успешной компании
									
					.col-md-3
						.banner_item_vertical_4
							.item_image
								svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
									defs
										style.
											.a{fill:#000;}
									title logo_rocket
									path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
									path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')

							.item_description
								h5 Собственный сайт: лицо успешной компании
								p Зачем студии веб-разработок нужен собственный сайт и каким он должен быть? 
		footer.full
			.container-fluid
				.row
					.logo-container.col-md-4
						svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.35 244.87')
							defs
								style.
									.a{fill:#000;}
							title logo_rocket
							path.a(d='M1531.11,5133.88c2.3-8.21,4.56-17.07,6.67-26.52,12.48-56-17.14-94.25-17.44-94.63a1.52,1.52,0,0,0-1.87-.42c-0.43.22-43.49,22.25-56,78.27-2,9-3.65,17.53-5,25.58-11.72,6.52-31.69,22.54-38.91,58.21a1.52,1.52,0,0,0,2.26,1.61,62.77,62.77,0,0,1,28.61-7.44c0.7,0,1.39,0,2.08.07-0.58,10.92-.43,17.18-0.42,17.34a1.52,1.52,0,0,0,1.19,1.44l8.51,1.9-1.24,5.58a1.52,1.52,0,0,0,1.15,1.81l34.9,7.77a1.52,1.52,0,0,0,1.81-1.15l1.24-5.58,7.25,1.62a1.52,1.52,0,0,0,1.69-.8c0.07-.14,2.83-5.67,6.9-15.67a62.56,62.56,0,0,1,23.52,19.22,1.52,1.52,0,0,0,1.26.66,1.5,1.5,0,0,0,.27.05,1.43,1.43,0,0,0,1.21-1.06C1548.74,5168.87,1540,5146.83,1531.11,5133.88Zm-108.88,38c7-30.26,23.57-45.06,34.6-51.78-3.11,19.19-4.51,35-5.15,45.5-0.74,0-1.49,0-2.24,0A65.24,65.24,0,0,0,1422.23,5171.83Zm96.48-156.19c2.93,4.14,13.57,20.55,17.57,45.19l-26.33-5.87-26.34-5.87C1497.69,5028.48,1514.3,5018.14,1518.71,5015.64ZM1479,5097a21.23,21.23,0,0,1,25.23-16.23h0a21.25,21.25,0,0,1-9.15,41.51h0A21.23,21.23,0,0,1,1479,5097Zm15.82,104.12-31.93-7.11,0.91-4.1,31.92,7.11Zm10.61-5-7.56-1.68v-0.83l-34.89-8.6h0l-8.82-1.14c0-4.86.1-24,4-52.46l33,7.57,33,7.46C1515.68,5173.85,1507.5,5191.72,1505.4,5196.11Zm33.12,1.63a64.55,64.55,0,0,0-22.86-17.71c3.8-9.56,9.15-24.18,14.43-42.5C1537.79,5149.77,1544.58,5169.47,1538.52,5197.73Z', transform='translate(-1418.54 -5012.15)')
							path.a(d='M1477,5203.49c-36.8-8.07-11.75,53.53-11.75,53.53S1513.83,5211.57,1477,5203.49Zm-8.12,37s-15.07-42.09,8.11-37S1468.92,5240.5,1468.92,5240.5Z', transform='translate(-1418.54 -5012.15)')
						p PersonalSite
						span лицо успешной компании
					.col-md-6
						.bottom_mnu
							ul.nav.text-uppercase
								li Главная
								li О компании ▼
									ul
										li Компания
										li Новости
										li Статьи
								li Услуги
								li Портфолио
								li Контакты
		//build:js js/vendor.min.js
		// bower:js
		script(src="bower_components/jquery/dist/jquery.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		// endbower
		// endbuild
		// build:js js/main.min.js
		script(type="text/javascript" src="js/main.js")
		// endbuild

