$main_color: #f7931e
$font_color: #131313
// $margin: 3.2em
$margin: 48px

.row
	border-left: 1px solid
	border-right: 1px solid

=kerning($ls)
	letter-spacing: $ls+px


body
	font-family: 'Open Sans', sans-serif
	font-weight: normal
	font-size: 15px
	min-width: 320px
	position: relative
	line-height: 1.2em
	-webkit-font-smoothing: antialised
	color: $font_color

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.colored_element
	color: $main_color
*
	&:focus
		outline: 0
a
	&:link, 
	&:visited, 
	&:active, 
	&:hover,
	&:focus
		text-decoration: none
		outline: 0

ul
	// padding: 0
	// margin: 0
	li
		list-style-type: none
h1
	// font-size: 5.8em
	font-size: 87px
	+kerning(-6)
	font-weight: 700
	margin: 0
	padding: 0
h2
	// font-size: 3.47em
	font-size: 52px
	+kerning(-4)
	font-weight: 700
	margin: 0
	padding: 0

h3
	// font-size: 3em
	font-size: 45px
	+kerning(-1)
	margin: 0
	padding: 0
h4
	// font-size: 2.6em
	font-size: 39px
	+kerning(-3)
	margin: 0
	padding: 0

h5
	// font-size: 1.87em
	font-size: 28px
	margin: 0
	padding: 0

.hidden
	display: none
.full
	background-color: $main_color
.empty
	background-color: #fff
	color: $main_color
	border: 1px solid $main_color
.grey
	background-color: #e6e6e6

button
	border: 1px solid $main_color
	line-height: 2.5em
	font-size: 1.27em
	width: 11em
	+kerning(0)
	text-align: center
	border-radius: 2em
	color: #fff
	margin-bottom: 1em
	// padding: 0 3em
	background-color: $main_color
	&:hover
		background-color: #fff
		color: $main_color
		// border: 1px solid $main_color
	&.empty
		&:hover
			background-color: $main_color
			color: #fff
			border: 1px solid #fff

.img_wrapper
	background-image: url("../img/rocket-004.jpg")
	background-size: cover
	// background-position: center
	background-position: top center

	// position: relative
	// overflow: hidden
	// img
	// 	position: absolute


body
	header
		// padding-top: 2em
		padding-top: $margin

		.logo-container
			color: #fff
			margin: 0 auto
			padding-left: 3em
			svg
				width: 7em
				height: 10em
				float: left
				padding: 1em
			.logo_text
				padding-top: 2em
				h2
					line-height: 1em
					// margin: 0
					// padding: 0
					+kerning(-2)
				span
					// +kerning(-1)
					font-size: 1.35em
		.tagline
			color: #fff
			h3
				+kerning(-3)
				// font-size: 2.5em
				line-height: 1.5em
				font-weight: 300
		.main_mnu
			nav.navbar.navbar-default
				background-color: transparent
				border: none
				button.navbar-toggle
					border: none
					padding: 0
					margin: 0
					width: 2em
					// position: absolute
					// top: -9.5em
					// right: -1.4em
					span.icon-bar
						background-color: #FFF
						width: 2em
						margin-bottom: .5em
					&:hover, &:focus
						border: none
						background-color: transparent


				#main_mnu.collapse.navbar-collapse
					nav.top_mnu
						ul.nav.navbar-nav
							font-weight: 600
							li
								a
									border: 1px solid $main_color
									color: #000
									font-size: 1.13em
									&:hover
										background-color: #fff
									
							li.dropdown
								a.dropdown-toggle
									border-color: $main_color
									span
										padding-left: 1.3em
								ul.dropdown-menu
									border: none
									min-width: 1px
									width: 100%
									border-radius: 0
									text-align: center
									li
										a
											line-height: 2.5em
											font-weight: 600
											border: 1px solid #fff
											font-size: 1.15em
											&:hover
												color: $main_color
							li.active
								a
									background-color: #fff
									&:hover, &:focus
										background-color: #fff

	section.s_slider
		min-height: 595px
		position: relative
		overflow: hidden
		padding-top: $margin*3.17

		img
			width: 100vw
			position: absolute
			bottom: 0
			z-index: -100
		.logo-container
			color: #fff
			margin: 0 auto
			// padding-left: 6em

			svg
				width: 8em
				height: 13em
				float: left
				// fill: #fff
			.logo_text
				padding-top: 3.5em
				h1
					line-height: 1em
					margin: 0
					padding: 0
					// font-size: 4em
					// +kerning(-4)
				span
					// +kerning(-1)
					font-size: 1.55em
	
	section.s_content
		margin-top: $margin
		margin-bottom: $margin

		.zero_row
			margin-bottom: $margin/2
			.left_col
				h1
					color: #666
					vertical-align: middle
					display: inline-block
					margin: 0
					padding: 0
					// margin-bottom: 1em
			.right_col	
				blockquote
					background-color: #f2f2f2
					border: none
					padding: 1.2em 3em
					font-size: 1.33em
					font-weight: 300
					font-style: italic
					&::before
						content: "\""
						color: #fff
						position: absolute
						top: 0
						left: 20px
						font-size: 5em
						font-style: italic
						line-height: 1
					&::after
						content: "\""
						color: #fff
						position: absolute
						top: 70px
						right: 40px
						font-size: 5em
						font-style: italic
						line-height: 0.8
		.first_row
			// margin-bottom: $margin
			.img_wrapper
				height: 28em
				background-position: center

				// img
					// height: 100%
					// zoom: 2
					// bottom: 0
					// right: 0
					// margin-bottom: 4em
			.left_content
				h2
					// font-size: 3em
					line-height: 1em
					color: #666
					// +kerning(-4)
					// margin-bottom: 1.33em
				ul
					margin: $margin 0
					li
						margin-bottom: 1em
						// font-size: .9em



		.second_row
			margin-top: $margin
			margin-bottom: $margin
			// margin: $margin 0

			font-style: italic
			.col-md-6
				padding: 0
				ul
					padding-left: $margin/2
					margin-left: $margin
					li
						list-style-type: disc
						color: $main_color
						font-size: .9em
						span
							color: #000
				ol
					// margin: 2.5em 0
					padding-left: $margin
					padding-right: $margin/2

					li
						font-size: .9em
					

		.third_row
			.third_row_content
				// padding-left: 3em
				h4
					font-weight: 700
					line-height: 1em
					color: #666
					margin-bottom: 1em
				ul
					li
						margin-bottom: 1em
			.third_row_form
				margin: 0
				padding: 0
				text-align: center
				form
					border: 0.21px solid #b3b3b3
					box-shadow: 0 4px 15px 0 #999
					text-align: center
					padding: 1em
					width: 85%
					margin: 1em auto
					h4
						font-size: 2.2em
						color: #666
						+kerning(0)
						font-weight: 700
					input
						border: 1px solid #f2f2f2
						border-radius: 2em
						line-height: 2em
						font-size: 1.5em
						text-align: center
						margin: 1em auto
						width: 13.35em
						+kerning(-1)
						&:focus
							outline: 1px solid #ccc

					button
						// border: none
						// line-height: 2em
						// font-size: 1.3em
						// +kerning(0)
						// text-align: center
						// border-radius: 2em
						// color: #fff
						// margin-bottom: 1em
						// padding: 0 3em
	
	

	section.img_banners
		.banner_container
			margin-bottom: $margin
			.banner
				border: 1px solid #b3b3b3
				position: relative
				.banner_wrapper.media
					.media-left
						.img_wrapper.media-object
							width: 24em
							height: 23em
							background-position: center
					.content_wrapper.media-body
						.item_descr_head
							ul
								li
						.item_descr_body
							h5
							ul
								li
						.item_descr_footer
							button
							ul
								li
			&.half
				padding: 0
				button
					margin: 0
					margin-top: $margin
				&:first-child
					padding-right: $margin/2
				&:nth-child(2)
					.banner
						.img_wrapper
							height: 16em
							background-position: top
						.content_wrapper
							background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%) /* FF3.6-15 */
							background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%) /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 )
							position: absolute
							// z-index: 999
							bottom: 0
							left: 0
							.item_descr_head
								ul
									li
							.item_descr_body
								h5
								p
							.item_descr_footer
								ul.list-inline.text-right
									li
				.banner_wrapper.media
					.media-left
						.img_wrapper.media-object
							width: 12em
							height: 16em
			&.part
				padding: 0
				&:first-child
					padding-right: $margin/2
				// &:nth-child(2)
				.banner_wrapper.media
					.media-left
						.img_wrapper.media-object
							width: 12em
							height: 11em

			&.vertical
				padding: 0
				margin: 0
				padding-right: $margin/2
				&:last-child
					padding-right: 0
				.banner
					.banner_wrapper
						.img_wrapper
							height: 16em
						.content_wrapper







	section.s_banner_svg
		.news_item
			padding: 0
			.media
				.item_row
					border: 1px solid #b3b3b3
					.media-left
						svg.media-object
							padding: 0
					.media-body
						padding: .8em
						.item_descr_head
							ul
								li
									&:nth-child(1)
										font-weight: 700
										margin-right: 1em
									&:nth-child(2)
										font-weight: 400
										font-size: 1.1em
										line-height: 1.2em
										background-color: #e6e6e6
										padding: .3em .5em
						.item_descr_body
							h5
								font-weight: 600
							ul
								li
						.item_descr_footer
							button
								float: left
							ul
								li
									line-height: 2.3em
									font-weight: 700
									&:last-child
										color: $main_color
			&.large
				margin-bottom: 1.5em
				.media
					.item_row
						.media-left
							svg.media-object
								// width: 240px
								// height: 235px
								width: 16em
								height: 15.7em
						.media-body
							padding-right: 2em
							.item_descr_body
								h5
									padding: .5em 0
									font-size: 2.4em
								ul
									li
										padding: .5em 0
							.item_descr_footer
								margin-top: 2em
			&.half
				.media
					.item_row
						padding: 1em
						margin-right: .5em
						.media-left,.media-right
							svg.media-object
								// width: 180px
								// height: 225px
								width: 12em
								height: 15em
						.media-body
							// padding: .8em
							.item_descr_head
							.item_descr_body
								h5
									font-size: 2.27em
									padding: .5em 0
					button
						margin-top: 1.85em
					.item_descr_footer
						button
							margin-top: 1em
							margin-left: .5em
					.grey
						margin-right: 0
						margin-left: .5em
				&.thin
					margin-bottom: 4em
					.media
						.item_row
							padding: 1.1em 0
							margin: .5em
							color: #fff
							.media-left,.media-right
								svg.media-object
									// width: 105px
									// height: 115px
									width: 7em
									height: 7.67em
						.grey
							color: #666
							padding: 0
							.media-body
								.item_descr_body
									h5
										font-size: 2em
									p
										font-size: 1.1em
			&.vertical
				margin-top: 3em
				// text-align: center
				.item_row
					border: 1px solid #b3b3b3
					margin: .5em
					padding: 1.5em .5em
					&.full
						color: #fff
					.item_image
						text-align: center
						svg
							height: 10em
							width: 6.5em
							margin: 0 auto
					.item_description
						padding: .5em
						.item_descr_head
							ul
								li
									&:nth-child(1)
										font-weight: 700
										margin-right: 1em
										font-size: .9em
									&:nth-child(2)
										font-weight: 400
										font-size: 1em
										line-height: 1.2em
										background-color: #e6e6e6
										padding: .3em .5em
						.item_descr_body
							h5
								font-weight: 600
								font-size: 1.67em
						.item_descr_footer
							button
								width: 95%
								padding: 0
								text-align: center
								margin-top: 1em
							ul
								li
									// line-height: 2.3em
									font-weight: 700
									&:last-child
										color: $main_color
	footer
		margin-top: 4em
		padding: 3em 2em 5em
		// padding: 2em
		.logo-container
			color: #fff
			margin: 0 auto
			svg
				width: 6em
				height: 8em
				float: left
			.logo_text
				padding-top: 2em
				h2
					line-height: 1em
					font-size: 3.73em
					margin: 0
					padding: 0
					+kerning(-2)
				span
					font-size: 1.27em
		.bottom_mnu
			ul
				font-weight: 600
				li
					a
						border: 1px solid $main_color
						color: #000
						font-size: 1.13em
						&:hover
							background-color: #fff
				li.dropdown
					a.dropdown-toggle
						border-color: $main_color
						span
							padding-left: 1.3em
					ul.dropdown-menu
						border: none
						min-width: 1px
						width: 100%
						border-radius: 0
						text-align: center
						background-color: transparent
						box-shadow: none
						li
							background-color: transparent

							a
								line-height: 2.5em
								font-weight: 600
								border: none
								font-size: 1.15em
								&:hover
									color: #fff
									background-color: transparent
				li.active
					a
						&:focus
							background-color: transparent